<div *ngIf="product" class="detail-container">
  <img src="{{product.url}}">
  <div class="detail-item">

      <h3>{{ product.name }}</h3>
      <h3>{{ product.price }}</h3>
      <h3>{{ product.description }}</h3>

    <select [(ngModel)]='selectedAmount' class="form-control select-input">
      <option value="1" selected="selected">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
    </select>
    <button class="btn btn-primary" (click)="addToCart(product, selectedAmount)">Add to cart</button>
    <div class="back-link">
      <a routerLink="/">← Back to product list</a>
    </div>
  </div>

</div>
